{{ form_start(lectureForm) }}
<div class="form-group mb-3">
    {{ form_row(lectureForm.name) }}
</div>
<div class="form-group mb-3">
    {{ form_row(lectureForm.type) }}
</div>
<div class="form-group content-type-input mb-3" id="lecture-text">
    {{ form_row(lectureForm.contentText) }}
</div>
<div class="form-group content-type-input mb-3 display-hidden" id="lecture-video">
    {{ form_row(lectureForm.contentUrl) }}
</div>
<div class="form-group content-type-input mb-3 display-hidden" id="lecture-pdf">
    {{ form_row(lectureForm.contentFile) }}
</div>
<div class="form-group">
    <button class="btn btn-success" type="submit">{{ 'app.save' | trans }}</button>
</div>
{{ form_end(lectureForm) }}
