{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <ul>
        <li>
            <a href="{{ path('app.teacher.course.list') }}">{{ 'app.navigation.course_list' | trans }}</a>
        </li>
        <li>
            <a href="{{ path('app.common.course.show', {'id': course.id}) }}">{{ course.name }}</a>
        </li>
        <li>
            {{ 'app.course.lecture.edit_breadcrumb' | trans }}
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    {{ 'app.course.lecture.edit' | trans({'{lectureName}': lecture.name}) }}
                </div>
                <div class="card-body">
                    {% include 'teacher/lecture/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
