<div class="card mt-3">
    <div class="card-header">
        {{ 'app.course.lecture_list.label' | trans }}
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{ 'app.course.lecture_list.table.lesson' | trans }}</th>
                <th>{{ 'app.course.lecture_list.table.type' | trans }}</th>
                <th>{{ 'app.course.lecture_list.table.created_at' | trans }}</th>
                <th>{{ 'app.list.action.label' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for lecture in lectures %}
            <tr>
                <td>{{ lecture.name }}</td>
                <td>{{ lecture.type }}</td>
                <td>{{ lecture.createdAt | date('d.m.Y') }}</td>
                <td>
                    <a href="{{ path('app.teacher.course.lecture.edit', {'id': lecture.id, 'courseId': course.id}) }}">
                        {{ 'app.list.action.edit' | trans }}
                    </a>
                    |
                    <a href="{{ path('app.teacher.course.lecture.delete', {'id': lecture.id, 'courseId': course.id}) }}">
                        {{ 'app.list.action.delete' | trans }}
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">{{ 'app.course.lecture_list.table.empty' | trans }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('app.teacher.course.lecture.add', {'id': course.id}) }}" class="btn btn-success">
                {{ 'app.course.lecture.add' | trans }}
            </a>
        </div>
    </div>
</div>
