<a href="{{ path('app.administrator.course.list') }}" class="nav-link">{{ 'app.navigation.course_list' | trans }}</a>
<a href="{{ path('app.administrator.site.settings') }}" class="nav-link">{{ 'app.navigation.site_settings' | trans }}</a>
<a href="{{ path('app.administrator.user.list') }}" class="nav-link">{{ 'app.navigation.user_list' | trans }}</a>
<a href="{{ path('app.common.user_settings') }}" class="nav-link">{{ 'app.navigation.settings' | trans }}</a>
