{% set teacherRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_TEACHER') %}
{% set studentRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_STUDENT') %}
{% if app.user.type is same as teacherRole %}
<div class="card mt-3">
    <div class="card-header">
        {{ 'app.course.description' | trans }}
    </div>
    <div class="card-body">
        {{ form_start(courseForm) }}
        <div class="form-group mb-3">
            {{ form_row(courseForm.name) }}
        </div>
        <div class="form-group mb-3">
            {{ form_row(courseForm.close_date) }}
        </div>
        <div class="form-group mb-3">
            {{ form_row(courseForm.status) }}
        </div>
        <div class="form-group mb-3">
            {{ form_row(courseForm.description) }}
        </div>
        <div class="form-group mb-3 text-right">
            <button class="btn btn-success">{{ 'app.save' | trans }}</button>
        </div>
        {{ form_end(courseForm, {render_rest: false}) }}
    </div>
</div>
{% endif %}
{% if app.user.type is same as studentRole %}
    <div class="card mt-3">
        <div class="card-header">
            {{ 'app.course.description' | trans }}
        </div>
        <div class="card-body">
            <p>
                {{ course.description }}
            </p>
        </div>
    </div>
{% endif %}