{% set administratorRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_ADMINISTRATOR') %}
{% set moderatorRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_MODERATOR') %}
{% set teacherRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_TEACHER') %}
{% set studentRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_STUDENT') %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'app.settings.default.title' | trans }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navigation %}
            {% if app.user %}
            <div class="clearfix-menu">&nbsp;</div>
            <div class="navigation">
                <div class="profile-info">
                    <div class="profile-info-item profile-info__avatar">
                        <img src="" alt="{{ app.user.fullName }}">
                    </div>
                    <div class="profile-info-item profile-info__data">
                        <span class="full-name">{{ app.user.fullName }}</span>
                        <span class="occupation">Student</span>
                    </div>
                </div>
                <nav class="nav flex-column">
                    {% if administratorRole in app.user.roles %}
                        {% include '_partials/navigation/administrator_menu.html.twig' %}
                    {% endif %}
                    {% if moderatorRole in app.user.roles %}
                        {% include '_partials/navigation/moderator_menu.html.twig' %}
                    {% endif %}
                    {% if teacherRole in app.user.roles %}
                        {% include '_partials/navigation/teacher_menu.html.twig' %}
                    {% endif %}
                    {% if studentRole in app.user.roles %}
                        {% include '_partials/navigation/student_menu.html.twig' %}
                    {% endif %}
                    <a href="{{ path('app.security.logout') }}" class="nav-link">{{ 'app.navigation.logout' | trans }}</a>
                </nav>
            </div>
            {% endif %}
        {% endblock %}
        <div class="container">
            <div class="row mt-4">
                <div class="col-12 ">
                    <div class="card breadcrumbs">
                        <div class="card-body">
                            {% block breadcrumbs %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
