{% set administratorRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_ADMINISTRATOR') %}
{% set teacherRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_TEACHER') %}
{% set studentRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_STUDENT') %}

{% set bodyClass = '' %}
{% if not app.user %}
    {% set bodyClass = 'authorization-page' %}
{% endif %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ site_settings.resolve.siteName }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="{{ bodyClass }}">
        {% block navigation %}
            {% if app.user %}
            <div class="clearfix-menu">&nbsp;</div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light menu-mobile">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav">
                        {% if administratorRole in app.user.roles %}
                            {% include '_partials/navigation/administrator_menu.html.twig' %}
                        {% endif %}
                        {% if teacherRole in app.user.roles %}
                            {% include '_partials/navigation/teacher_menu.html.twig' %}
                        {% endif %}
                        {% if studentRole in app.user.roles %}
                            {% include '_partials/navigation/student_menu.html.twig' %}
                        {% endif %}
                        <a href="{{ path('app.security.logout') }}" class="nav-link logout">{{ 'app.navigation.logout' | trans }}</a>
                    </div>
                </div>
            </nav>
            <div class="navigation">
                <div class="profile-info">
                    <div class="profile-info-item profile-info__avatar">
                        <img
                            src="{{ path('app.common.user.profile_image', {'id': app.user.id}) }}"
                            alt="{{ app.user.fullName }}"
                            class="border border-1"
                        >
                    </div>
                    <div class="profile-info-item profile-info__data">
                        <span class="full-name">{{ app.user.fullName }}</span>
                        <span class="occupation">
                            {% if app.user.type is same as administratorRole %}
                                {{ 'app.user.type.administrator' | trans }}
                            {% endif %}
                            {% if app.user.type is same as teacherRole %}
                                {{ 'app.user.type.teacher' | trans }}
                            {% endif %}
                            {% if app.user.type is same as studentRole %}
                                {{ 'app.user.type.student' | trans }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <nav class="nav flex-column">
                    {% if administratorRole in app.user.roles %}
                        {% include '_partials/navigation/administrator_menu.html.twig' %}
                    {% endif %}
                    {% if teacherRole in app.user.roles %}
                        {% include '_partials/navigation/teacher_menu.html.twig' %}
                    {% endif %}
                    {% if studentRole in app.user.roles %}
                        {% include '_partials/navigation/student_menu.html.twig' %}
                    {% endif %}
                    <a href="{{ path('app.security.logout') }}" class="nav-link logout">{{ 'app.navigation.logout' | trans }}</a>
                </nav>
            </div>
            {% endif %}
        {% endblock %}
        <div class="container mb-5">
            {% if app.user %}
            <div class="row mt-4">
                <div class="col-12 ">
                    <div class="card breadcrumbs">
                        <div class="card-body">
                            {% block breadcrumbs %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row mt-3">
                <div class="col-12">
                    {% for type, messages in app.session.flashbag.all %}
                        {% for message in messages %}
                        {% if type == 'error' %}{% set type = 'danger' %}{% endif %}
                        <span class="alert alert-{{ type }} w-100 display-block">{{ message | trans }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="main">
                {% block body %}{% endblock %}
            </div>
        </div>
    <!-- ADDITIONAL JAVASCRIPTS -->
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
