{% set administratorRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_ADMINISTRATOR') %}
{% set moderatorRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_MODERATOR') %}
{% set teacherRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_TEACHER') %}
{% set studentRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_STUDENT') %}

{% set bodyClass = '' %}
{% if not app.user %}
    {% set bodyClass = 'authorization-page' %}
{% endif %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'app.settings.default.title' | trans }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body class="{{ bodyClass }}">
        {% block navigation %}
            {% if app.user %}
            <div class="clearfix-menu">&nbsp;</div>
            <div class="navigation">
                <div class="profile-info">
                    <div class="profile-info-item profile-info__avatar">
                        <img src="" alt="{{ app.user.fullName }}">
                    </div>
                    <div class="profile-info-item profile-info__data">
                        <span class="full-name">{{ app.user.fullName }}</span>
                        <span class="occupation">Student</span>
                    </div>
                </div>
                <nav class="nav flex-column">
                    {% if administratorRole in app.user.roles %}
                        {% include '_partials/navigation/administrator_menu.html.twig' %}
                    {% endif %}
                    {% if moderatorRole in app.user.roles %}
                        {% include '_partials/navigation/moderator_menu.html.twig' %}
                    {% endif %}
                    {% if teacherRole in app.user.roles %}
                        {% include '_partials/navigation/teacher_menu.html.twig' %}
                    {% endif %}
                    {% if studentRole in app.user.roles %}
                        {% include '_partials/navigation/student_menu.html.twig' %}
                    {% endif %}
                    <a href="{{ path('app.security.logout') }}" class="nav-link logout">{{ 'app.navigation.logout' | trans }}</a>
                </nav>
            </div>
            {% endif %}
        {% endblock %}
        <div class="container mb-5">
            {% if app.user %}
            <div class="row mt-4">
                <div class="col-12 ">
                    <div class="card breadcrumbs">
                        <div class="card-body">
                            {% block breadcrumbs %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row mt-3">
                <div class="col-12">
                    {% for type, messages in app.session.flashbag.all %}
                        {% for message in messages %}
                        {% if type == 'error' %}{% set type = 'danger' %}{% endif %}
                        <span class="alert alert-{{ type }} w-100 display-block">{{ message | trans }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="main">
                {% block body %}{% endblock %}
            </div>
        </div>
    <!-- ADDITIONAL JAVASCRIPTS -->
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
