{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <ul>
        <li>
            <a href="{{ path('app.common.messages') }}">{{ 'app.navigation.messages' | trans }}</a>
        </li>
        <li>
            {{ message.title }}
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="col-10 m-auto">
            <div class="card">
                <div class="card-body forum d-flex p-0">
                    <div class="left-section p-4 bg-light d-flex flex-column">
                        <img src="{{ path('app.common.user.profile_image', {'id': message.sender.id}) }}"
                             alt="avatar"
                             class="border-2 border-opacity-10 border border-dark"
                             width="153"
                        >
                        <div class="d-flex flex-column mt-2">
                            <span class="px-2 display-block text-center fw-bold">{{ message.sender.fullname }}</span>
                            <span class="text-center display-block text-secondary">{{ message.sentAt | date('d.m.Y H:i') }}</span>
                        </div>
                    </div>
                    <div class="right-section p-3">
                        {{ message.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for answer in answers %}
        <div class="row mt-3">
            <div class="col-10 m-auto">
                <div class="card">
                    <div class="card-body forum d-flex p-0">
                        <div class="left-section p-4 bg-light d-flex flex-column">
                            <img src="{{ path('app.common.user.profile_image', {'id': answer.sender.id}) }}"
                                 alt="avatar"
                                 class="border-2 border-opacity-10 border border-dark"
                                 width="153">
                            <div class="d-flex flex-column mt-2">
                                <span class="px-2 display-block text-center fw-bold">{{ answer.sender.fullname }}</span>
                                <span class="text-center display-block text-secondary">{{ answer.sentAt | date('d.m.Y H:i') }}</span>
                            </div>
                        </div>
                        <div class="right-section p-3">
                            {{ answer.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row mt-5">
        <div class="col-10 m-auto">
            <div class="card">
                <div class="card-header">
                    {{ 'app.messages.answers.add' | trans }}
                </div>
                <div class="card-body">
                    {{ form_start(answerForm) }}
                    <div class="form-group">
                        {{ form_row(answerForm.content) }}
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-success">{{ 'app.save' | trans }}</button>
                    </div>
                    {{ form_end(answerForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
