<div class="card">
    <div class="card-header">
        {{ 'app.user.settings.address' | trans }}
    </div>
    <div class="card-body">
        {{ form_start(addressForm) }}
        <div class="form-group">
            {{ form_row(addressForm.street) }}
        </div>
        <div class="form-group">
            {{ form_row(addressForm.streetNumber) }}
        </div>
        <div class="form-group">
            {{ form_row(addressForm.vatNumber) }}
        </div>
        <div class="form-group">
            {{ form_row(addressForm.pesel) }}
        </div>
        <div class="form-group row">
            <div class="col-4">
                {{ form_row(addressForm.postalCode) }}
            </div>
            <div class="col-8">
                {{ form_row(addressForm.city) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                {{ form_row(addressForm.district) }}
            </div>
            <div class="col-6">
                {{ form_row(addressForm.province) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_row(addressForm.countryCode) }}
        </div>
        <div class="form-group text-right">
            <button class="btn btn-success" type="submit">{{ 'app.save' | trans }}</button>
        </div>
        {{ form_end(addressForm) }}
    </div>
</div>
