<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                {{ 'app.forum.list.title' | trans }}
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'app.forum.list.table.name' | trans }}</th>
                        <th>{{ 'app.forum.list.table.created_at' | trans }}</th>
                        <th>{{ 'app.forum.list.table.status' | trans }}</th>
                        <th>{{ 'app.list.action.label' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for forum in forumList %}
                    <tr>
                        <td>{{ forum.name }}</td>
                        <td>{{ forum.createdAt | date('d.m.Y H:i') }}</td>
                        <td>
                            {% if forum.isClosed %}
                                {{ 'app.forum.closed' | trans }}
                            {% else %}
                                {{ 'app.forum.opened' | trans }}
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">{{ 'app.forum.list.table.empty' | trans }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                {{ 'app.forum.create.title' }}
            </div>
            <div class="card-body text-center">
                <div class="w-50 m-auto">
                    {{ form_start(forumForm, {'action': path('app.common.course.forum.create', {'id': course.id})}) }}
                    <div class="form-group">
                        {{ form_row(forumForm.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(forumForm.description) }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">{{ 'app.save' | trans }}</button>
                    </div>
                    {{ form_end(forumForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
