{% set teacherRole = constant('App\\Dictionary\\UserManagement\\UserDictionary::ROLE_TEACHER') %}
<div class="row mt-3">
    <div class="col-10 m-auto">
        <div class="card">
            <div class="card-body forum">
                <div class="left-section">
                    Awatar <br>
                    {{ forum.author.fullName }}
                </div>
                <div class="right-section">
                    {{ forum.description }}
                </div>
            </div>
        </div>
    </div>
</div>
{% for post in posts %}
    <div class="row mt-3">
        <div class="col-10 m-auto">
            <div class="card">
                <div class="card-body forum">
                    <div class="left-section">
                        Awatar <br>
                        {{ post.author.fullName }}
                    </div>
                    <div class="right-section">
                        {{ post.content }}
                    </div>
                </div>
                {% if app.user.type is same as teacherRole %}
                <div class="card-footer">
                    <a href="{{ path('app.teacher.forum.post.delete', {'id': post.id}) }}">
                        {{ 'app.delete' | trans }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

<div class="row mt-5">
    <div class="col-10 m-auto">
        <div class="card">
            <div class="card-header">
                {{ 'app.forum.posts.add_response' | trans }}
            </div>
            {% if not forum.isClosed %}
            <div class="card-body row">
                {{ form_start(postForm, {'action':
                    path('app.common.course.forum.post_create', {
                        'id': forum.id,
                        'courseId': course.id
                    })
                }) }}
                <div class="form-group col-8">
                    {{ form_row(postForm.content) }}
                </div>
                <div class="form-group col-3">
                    <button class="btn btn-success">{{ 'app.save' | trans }}</button>
                </div>
                {{ form_end(postForm) }}
            </div>
            {% else %}
                <span class="alert alert-warning m-4">
                    {{ 'app.forum.already_closed' | trans }}
                </span>
            {% endif %}
        </div>
    </div>
</div>